$width: 600px;

.form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  max-width: $width;
  margin: 0 auto;
}

.button {
  padding: 7px;
  cursor: pointer;
}

.heading {
  text-align: center;
  margin: 0 0 10px;
}

.nav {
  margin: 5px auto 0;
  text-align: end;
  max-width: $width;
}
