.root {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.button {
  margin: 5px 0 0;
  padding: 5px 15px;
  cursor: pointer;
}

.logout {
  max-width: 450px;
  padding: 8px;
  cursor: pointer;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
