.table {
  border-collapse: collapse;
  width: 100%;

  th {
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
  }
}

.icon {
  max-width: 30px;
  max-height: 30px;
  stroke: #2f3435;
  cursor: pointer;
  user-select: none;
  transition: transform 0.5s ease;
}

.rotate {
  transform: rotate(180deg);
}

.cellContent {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
}
.updIcon {
  max-width: 30px;
  max-height: 30px;
  cursor: pointer;
  user-select: none;
  fill: blue;
}
.tableOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3px;
}

.selectCaption {
  margin: 0 10px 0 0;
}
.select {
  cursor: pointer;
}

.inputContainer {
  display: flex;
  column-gap: 10px;
}

.filtersContainer {
  margin: 5px 0;
}

.emptyHeading {
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  column-gap: 6px;
  margin: 20px 0 10px;
  a {
    text-decoration: none;
    color: black;
  }
}

.paginationItem {
  border: 1px solid black;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #eee;
}

.activeItem {
  background-color: rgb(41, 102, 255);
  a {
    color: white;
  }
}

.disabledItem {
  opacity: 0.4;
}
