.error {
  text-align: center;
  font-size: 1.5rem;
  color: red;
  padding: 10px;
}

.errorButton {
  margin: 0 auto;
  padding: 6px;
  cursor: pointer;
}

.heading {
  text-align: center;
}
.link {
  font-size: 1.5rem;
  color: rgb(0, 0, 255);
}
.nav {
  text-align: center;
  margin: 5px 0 0;
}
